[submodule "00-Libft"]
	path = 00-Libft
	url = https://github.com/LucasDatilioCarderelli/00-Libft
	branch = master
[submodule "01-Get_next_line"]
	path = 01-Get_next_line
	url = https://github.com/LucasDatilioCarderelli/01-Get_next_line
	branch = master
[submodule "01-Printf"]
	path = 01-Printf
	url = https://github.com/LucasDatilioCarderelli/01-Printf.git
	branch = master
[submodule "01-Born2beRoot"]
	path = 01-Born2beRoot
	url = https://github.com/LucasDatilioCarderelli/01-Born2beRoot.git
	branch = master
[submodule "02-So_long"]
	path = 02-So_long
	url = https://github.com/LucasDatilioCarderelli/02-So_long
	branch = main
[submodule "02-Pipex"]
	path = 02-Pipex
	url = https://github.com/LucasDatilioCarderelli/02-Pipex
